.SelectWrapper {
  width: 200px;
  margin-bottom: 20px;
}

.Select {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;

  p {
    margin: 0;
  }
}

.SelectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 8px 10px;
  border: 1px solid #000;
  border-radius: 10px;

  &__active {
    border: 1px solid blue;
  }
}

.SelectButton {
  width: 10px;
  height: 10px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.4s ease;

  &_active {
    transform: rotate(180deg);
  }
}

.Arrow {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.SelectOptionList {
  border-radius: 10px;
  margin: 5px 0 0 0;
  padding: 10px 5px;
  border: 1px solid black;
}

.Option {
  list-style: none;
  padding: 5px;
  margin: 0;
  border-radius: 10px;

  &_disabled {
    pointer-events: none;
    background: lightgray;
    color: gray;
  }

  &:hover {
    background: rgba(blue, 0.2);
  }
}

.SelectLabel {
  margin-bottom: 10px;
  cursor: pointer;
}