.PaginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.PaginationPageButton {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  border-radius: 50%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 15px;
  }

  &_active {
    background: #007bff;
    border: 1px solid #007bff;
    color: #fff;

    &:hover,
    &:focus {
      background: #007bff !important;
      border: 1px solid #007bff;
      color: #fff;
    }
  }

  &:hover,
  &:focus {
    background: rgb(#007bff, 0.2);
    border: 1px solid rgb(#007bff, 0.2);
  }
}

.PaginationPageButtonFirst,
.PaginationPageButtonPrev {
  transform: rotate(-180deg);
}

.PaginationPageButton:disabled {
  pointer-events: none;


  img {
    opacity: 0.5;
  }
}
