.CheckBox {
  input {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;

    &.Disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:checked {
      position: relative;
      border: 1.5px solid blue;
      background: blue;

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        background: #fff;
      }
    }

    &:focus {
      opacity: 0.8;
      border: 1px solid rgba(#000, 0.8);
    }
  }
}



.Radio {
  input {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;

    &.Disabled {
      pointer-events: none;
      opacity: 0.5;
    }


    &:checked {
      position: relative;
      border: 1px solid blue;
      background: blue;

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: #fff;
      }
    }

    &:focus {
      opacity: 0.8;
      border: 1px solid rgba(#000, 0.8);
    }

  }
}