.Progress {
  display: inline-block;
  color: rgb(144, 202, 249);
  width: 50px;
  height: 50px;
  animation: 1.4s linear 0s infinite normal none running ProgressAnim;
}

.ProgressCircle {
  stroke: currentcolor;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  animation: 1.4s ease-in-out 0s infinite normal none running ProgressCircleAnim;
}

.ProgressNoAnim {
  animation: none;
}

.ProgressLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}


@keyframes ProgressAnim  {
  0% {
    transform: rotate(0deg);
  }
100% {
     transform: rotate(360deg);
   }
}

@keyframes ProgressCircleAnim {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
     stroke-dasharray: 100px, 200px;
     stroke-dashoffset: -125px;
   }
}






.LinearProgressWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinearProgress {
  position: relative;
  width: 500px;
  height: 5px;
  border-radius: 10px;
  overflow: hidden;
  background: lightgray;
}

.LinearProgressBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: cornflowerblue;
  transform: translateX(-100%);
  animation: linearProgressAnimation 1s linear infinite;
}

.LinearProgressBarValue {
  animation: none;
  transform: none;
  width: 0;
}

.LinearProgressValue {
  margin-left: 10px;
  font-size: 14px;
}

@keyframes linearProgressAnimation {
  to {
    transform: translateX(300%);
  }
}


